body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.banner {
  background-color: rgb(134, 132, 132);
  display: flex;
  border: 1px black dashed;
  justify-content: space-between;
}

.banner-div-1 {
  display: flex;
  align-items: center;
  border: 1px black dashed;
}
.banner-div-2 {
  display: flex;
  align-items: center;
}

.banner-div-3 {
  display: flex;

  align-items: center;
}
.banner .fab {
  color: rgb(204, 3, 3);
  padding: 0.5vw;
}

.banner-div-3 .fas {
  padding: 0.5vw;
}

form {
  display: flex;
}

input {
  margin: 0;
  background-color: black;
  border: 0.5px grey solid;
}

/* input[type="text"] {
  text-align: center;
} */

.banner-div-2 .fas {
  padding: 5px 20px 5px 20px;
  border: 1px red dashed;
  background-color: rgb(63, 62, 62);
}

.banner-div-3 {
  align-items: center;
  border: 1px black dashed;
}

.banner-div-3 img {
  width: 2vw;
  margin: 0.5rem;
  align-self: center;
  border-radius: 50%;
  border: 1px black dashed;
}

.logo {
  width: 5vw;
}
nav ul li {
  list-style: none;
  line-height: 35px;
}
.content {
  display: flex;
  border: 1px black dashed;
}

.side-nav {
  background-color: rgb(107, 106, 106);
}
nav i {
  border: 1px black dashed;
  margin-right: 2vw;
  font-size: 1rem;
}
#show-more {
  font-size: 1.5rem;
}
.side-nav hr {
  border: 0.5px grey solid;
}
.side-nav-home ul,
.side-nav-library ul,
.side-nav-subscriptions ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vw;
  padding: 0;
  width: 15vw;
  border: 1px black dashed;
  font-size: small;
  color: white;
}

.side-nav-subscriptions h2 {
  padding-left: 1rem;
  font-size: small;
  color: white;
  font-variant: small-caps;
}
.side-nav-subscriptions ul li {
  display: flex;
  border: 1px black dashed;
}
.side-nav-subscriptions img {
  width: 1.5vw;
  margin: 0.5rem;
  align-self: center;
  border-radius: 50%;
  border: 1px black dashed;
}

.videos {
  width: 85vw;
  border: 1px black dashed;
  background-color: rgb(42, 42, 42);
}
.videos hr {
  border: 0.5px grey solid;
}
.central-nav ul {
  display: flex;
  border: 1px black dashed;
  justify-content: space-between;
  background-color: rgb(63, 62, 62);
}
.central-nav ul li {
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  font-variant: small-caps;
  color: white;
}

.uploads ul li {
  margin: 0.5em;
  display: inline-flex;
  color: white;
  font-size: small;
  /* border: 1px red dashed; */
}

.uploads ul li i {
  padding-right: 0.5em;
}

.uploads ul li:nth-child(2) {
  text-transform: uppercase;
  color: grey;
}
.video-images {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px red dashed;
}

figure {
  border: 1px black dashed;
  margin: 0;
}

figure img {
  width: 19vw;
  height: 15vh;
  border: 1px black dashed;
}

figcaption {
  padding-bottom: 0.5em;
}

.channel {
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 200;
  color: grey;
}

.video-1 .channel p {
  margin: 0;
}

.channel p:nth-child(2),
.channel p::nth-child(3) {
  padding-left: em;
}

.title {
  text-align: left;
  font-size: small;
  color: white;
  font-weight: bold;
}
.caption-bottom {
  font-size: x-small;
  font-weight: normal;
  color: grey;
}
