body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.banner {
  background-color: rgb(88, 87, 87);
  display: flex;
  justify-content: space-between;
}

.banner-div-1 {
  display: flex;
  align-items: center;
}

.banner h4 {
  color: white;
}

.banner-div-2 {
  display: flex;
  align-items: center;
}

.banner-div-3 {
  display: flex;
  align-items: center;
}
.banner img {
  width: 2.5vw;
  background-color: rgb(88, 87, 87);
  padding-top: 0;
  margin: 0.5vw;
}

.banner-div-3 .fas {
  padding: 0.5vw;
}

form {
  display: flex;
}

input {
  margin: 0;
  background-color: black;
  border: 0.5px grey solid;
}

/* input[type="text"] {
  text-align: center;
} */

.banner-div-2 .fas {
  padding: 5px 20px 5px 20px;
  background-color: rgb(63, 62, 62);
}

.banner-div-3 {
  align-items: center;
}

.banner-div-3 img {
  width: 2vw;
  margin: 0.5rem;
  align-self: center;
  border-radius: 50%;
}

.logo {
  width: 5vw;
}
nav ul li {
  list-style: none;
  line-height: 35px;
}
.content {
  display: flex;
}

.side-nav {
  background-color: rgb(107, 106, 106);
  width: 15vw;
}
nav i {
  margin-right: 2vw;
  font-size: 1rem;
}
#show-more {
  font-size: 1.5rem;
}
.side-nav hr {
  border: 0.5px grey solid;
}
.side-nav-home ul,
.side-nav-library ul,
.side-nav-subscriptions ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vw;
  padding: 0;
  font-size: medium;
  color: white;
}

.side-nav-subscriptions h2 {
  padding-left: 1rem;
  font-size: medium;
  color: white;
  font-variant: small-caps;
}
.side-nav-subscriptions ul li {
  display: flex;
}
.side-nav-subscriptions img {
  width: 1.5vw;
  margin: 0.5rem 0.5rem 0.5rem 0;
  align-self: center;
  border-radius: 50%;
}

.videos {
  width: 70vw;
  background-color: rgb(42, 42, 42);
}
.videos hr {
  border: 0.5px grey solid;
}
/* .central-nav {
  position: fixed;
} */

.central-nav ul {
  display: flex;
  justify-content: space-between;
  background-color: rgb(63, 62, 62);
}
.central-nav ul li {
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  font-variant: small-caps;
  color: white;
}

.uploads ul li {
  margin: 0.5em;
  display: inline-flex;
  color: white;
  font-size: medium;
}

.uploads ul li i {
  padding-right: 0.5em;
}

.uploads ul li:nth-child(2) {
  text-transform: uppercase;
  color: grey;
}
.video-images {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure {
  position: relative;
  margin: 0;
}

figure img {
  margin: 0;
  padding: 0;
  position: relative;
  width: 17vw;
  height: 25vh;
}

.play-all-on-hover {
  position: absolute;
  top: 35%;
  left: 35%;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
  z-index: 1;
  visibility: hidden;
}
.play-all-on-hover i {
  padding-right: 0.5em;
}
.play-all-on-hover:hover {
  z-index: 1;
  opacity: 1;
}

figure img:hover {
  filter: opacity(0.3);
  cursor: pointer;
}
figure img:hover ~ .play-all-on-hover {
  visibility: visible;
}

.time {
  position: absolute;
  bottom: 5em;
  right: 0.5em;
  padding: 0.2em 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  font-size: medium;
  color: white;
}

figcaption {
  padding-bottom: 0.5em;
}

.channel {
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 200;
  color: grey;
}

.video-1 .channel p {
  margin: 0;
}

.channel p:nth-child(2),
.channel p:nth-child(3) {
  padding-left: 1em;
}

.title {
  text-align: left;
  max-width: 19vw;
  font-size: small;
  color: white;
  font-weight: bold;
}
.caption-bottom {
  font-size: x-small;
  font-weight: normal;
  color: grey;
}

aside {
  width: 15vw;
}

aside .subscribe {
  display: flex;
  align-items: center;
}

aside .subscribe img {
  height: 2.5vw;
  margin: 0.5rem;
  border-radius: 50%;
}

.button {
  width: 5vw;
  padding: 0.5rem;
  background-color: rgb(61, 61, 61);
  font-weight: 700;
  color: grey;
}
